<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="../Static/css/GramAi.css">
    <link rel="stylesheet" href="media-queries.css">
</head>
<body>

    <!-- nav bar -->
    <nav>
        <div class="container main-nav flex">
            <a href="#" class="company-logo">
                <img src="../Static/Images/Logo.png" alt="company logo">
            </a>
            <div class="nav-links" id="nav-links">
                <ul class="flex">
                    <li><a href="#" class="hover-link">Home</a></li>
                    <li><a href="#" class="hover-link">Features</a></li>
                    <li><a href="#" class="hover-link"> About us</a></li>
                    <li><a href="#" class="hover-link">Contact us</a></li>
                    <li><a href="../Templates/signin.html" class="hover-link secondary-button">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- header section -->
    <header>
        <div class="container header-section flex">
            <div class="header-left">
                <h1>Write Confidently</h1>
                <p>                
                    Gramai is a multifaceted language tool designed to enhance your writing and learning experience. It provides accurate translation services, real-time grammar checking, and a sophisticated similarity checker. With E-Guru, our innovative AI teacher, you receive personalized feedback to improve your language skills. Whether you're a student, 
                    professional, or language enthusiast, Gramai is your ultimate companion for mastering languages.</p>
            </div>
            <div class="header-right">
                <img src="../Static/Images/Threepeople.png" alt="hero image">
            </div>
        </div>
    </header>


    <!-- features section -->

    <section class="features-section">
        <div class="container">
            <div class="features-header">
                <h2 class="features-heading-text">Explore our powerful features.</h2>
            </div>
            <div class="features-area flex">
                <div class="features-card flex">
                    <img src="../Static/Images/asset 11.svg" alt="">
                    <h3>Similarity-Checker</h3>
                    <p>Our Text Similarity Checker helps you compare texts to uncover similarities, 
                    making it ideal for plagiarism detection.</p>
                    <a href="../Templates/similarity.html" class="secondary-button">Go to.. <i class="fa-solid fa-right-long"></i></a>
                </div>
                <div class="features-card flex">
                    <img src="../Static/Images/asset 13.svg" alt="">
                    <h3>Grammar-Checker</h3>
                    <p>Our Grammar Checker is a powerful tool that enhances your writing by identifying and correcting grammatical errors.</p>
                    <a href="grammarchecker.html" class="secondary-button">Go to.. <i class="fa-solid fa-right-long"></i></a>
                </div>
                <div class="features-card flex">
                    <img src="../Static/Images/asset 14.svg" alt="">
                    <h3>Translation</h3>
                    <p>Our Translation Tool seamlessly translates Hinglish to English.This tool ensures your message is accurately translated.
                    </p>
                    <a href="../Templates/translation.html" class="secondary-button">Go to.. <i class="fa-solid fa-right-long"></i></a>
                </div>
                <div class="features-card flex">
                    <img src="../Static/Images/asset 16.svg" alt="">
                    <h3>E-Guru</h3>
                    <p>E-Guru is your personal writing coach, providing tailored feedback to enhance your skills.E-Guru will offer insightful suggestions for improvement, helping you become a better writer.</p>
                    <a href="#" class="secondary-button">Go to.. <i class="fa-solid fa-right-long"></i></a>
                </div>
                <div class="features-card flex">
                    <img src="../Static/Images/asset 17.svg" alt="">
                    <h3>community Forum</h3>
                    <p>a platform for students and teachers to discuss grammar-related topics, share resources, and seek help.</p>
                    <a href="#" class="secondary-button">Go to.. <i class="fa-solid fa-right-long"></i></a>
                </div>
            </div>
        </div>
    </section>


    <!-- subfooter -->

   <!-- footer -->
<footer class="footer">
    <div class="container flex">
        <div class="links">
            <a href="#" class="hover-link">Privacy Policy</a>
        </div>
        <div class="links">
            <a href="#" class="hover-link">Terms & Conditions</a>
        </div>
        <div class="links">
            <a href="#" class="hover-link">Security Information</a>
        </div>
    </div>
</footer>

</body>
</html>