<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="test.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
    <nav class="navbar">
        <div class="container main-nav flex">
            <div class="logo-details">
                <i class="fab fa-slack" id="logoimg"></i>
                <span class="logo_name">Gramai</span>
            </div>
            <div class="nav-links" id="nav-links">
                <ul class="flex">
                    <li><a href="../GramAi.html" class="hover-link">Home</a></li>
                    <li><a href="#features-section" class="hover-link" id="links">Features</a></li>
                    <li><a href="../about_us.html" class="hover-link" id="links"> About us</a></li>
                    <li><a href="../contactus.html" class="hover-link" id="links">Contact us</a></li>
                    <li><a href="../Templates/signin.html" class="hover-link secondary-button" id="links">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>Topic-wise Tests</h1>

    <a href="quiz1.html" id = "points"><div>Test 1</div></a>
    <a href="quiz2.html"id = "points"><div>Test 2</div></a>
    <a href="quiz3.html"id = "points"><div>Test 3</div></a>
    <a href="quiz4.html"id = "points"><div>Test 4</div></a>
    <a href="quiz5.html"id = "points"><div>Test 5</div></a>
    
</body>
</html>
