<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grammar Checker</title>
    <link rel="stylesheet" href="../Static/css/GramAi.css">
    <script src = "../Static/javascript/grammarchecker.js"></script>
    <script src = "../Static/javascript/GramAi.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>

<body>
  <nav class = "navbar">
    <div class="container main-nav flex">
        <div class="logo-details">
            <i class="fab fa-slack" id ="logoimg"></i>
            <span class="logo_name">Gramai</span>
          </div>
        <div class="nav-links" id="nav-links"> 
            <ul class="flex">
                <li><a href="GramAi.html" class="hover-link">Home</a></li>
                
                <li><a href="#features-section" class="hover-link">Features</a></li>
                <li><a href="about_us.html" class="hover-link"> About us</a></li>
                <li><a href="contactus.html" class="hover-link">Contact us</a></li>
                <li><a href="../Templates/signin.html" class="hover-link secondary-button">Logout</a></li>
            </ul>
        </div>
    </div>
</nav> 
    

    <!-- header section -->
    <header>
        <div class="container header-section flex">
            <div class="header-left">
                <h1>Check Grammar </h1>
                <p>Our Grammar Checker helps you improve your writing by identifying grammar errors and providing suggestions for correction. Simply enter your text in the box below and click the "Check Grammar" button to see the corrections.</p>
                <p>Our tool will highlight any grammar mistakes in your text and offer suggestions on how to correct them. Improve your writing skills and ensure your messages are clear and professional with our Grammar Checker!</p>
                        </div>
            <div class="header-right">
                <img src="../Static/Images/owl.png" alt="hero image">
            </div>
        </div>
    </header>

    <div class="container">
        <div class="grammar-checker">
            <textarea id="inputText" placeholder="Enter your text here"></textarea>
            <button id = "grammarchecker">Check Grammar</button>
            <textarea id="outputText" placeholder="Grammar errors will appear here"></textarea>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="subfooter">
        <footer>
            <div class="content">
              <div class="top">
                <div class="logo-details">
                  <i class="fab fa-slack"></i>
                  <span class="logo_name">Gramai</span>
                </div>
                <div class="media-icons">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
              <div class="link-boxes">
                <ul class="box">
                  <li class="link_name">Company</li>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">About us</a></li>
                </ul>
                <ul class="box">
                  <li class="link_name">Features</li>
                  <li><a href="#">Similarity Checker</a></li>
                  <li><a href="#">Grammar Checker</a></li>
                  <li><a href="#">Translator</a></li>
                  <li><a href="#">Spell Bee</a></li>
                </ul>
                <ul class="box">
                  <li class="link_name">Account</li>
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">My account</a></li>
                  <li><a href="#">Purchase</a></li>
                </ul>
              </div>
            </div>
            <div class="bottom-details">
              <div class="bottom_text">
                <span class="copyright_text">Copyright © 2021 <a href="#">Gramai.</a>All rights reserved</span>
                <span class="policy_terms">
                  <a href="#">Privacy policy</a>
                  <a href="#">Terms & condition</a>
                </span>
              </div>
            </div>
          </footer>
        </div>

</body>

</html>
